<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li><a routerLink="" class="nav-link px-2 text-white">Ana Sayfa</a></li>
        <li>
          <a routerLink="/aboutUs" class="nav-link px-2 text-white"
            >Hakkımızda</a
          >
        </li>
      </ul>

      <div class="text-middle">
        <button
          type="button"
          routerLink="/adminPanel"
          class="btn btn-outline-light me-2"
        >
          Admin Paneli
        </button>
      </div>

      <div class="text-end position-absolute top-10 end-0" *ngIf="!isAuth">
        <button
        *ngIf="!isAuth"
          type="button"
          routerLink="/login"
          class="btn btn-outline-light me-2"
        >
          Giriş yap
        </button>
        <li type="button" routerLink="/register" class="btn btn-warning">
          Kayıt ol
        </li>
      </div>

      <div
        class="collapse navbar-collapse position-absolute top-10 end-0" id="navbarNavDarkDropdown" *ngIf="isAuth"
      >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="
                d-block
                link-dark
                text-decoration-none
                dropdown-toggle
                me-2
              "
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            {{user?.firstName}} {{user?.lastName}}
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" routerLink="/userDetail">Profil</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" (click)="logout()">Çıkış yap</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
