<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Acıklama</th>
      <th>Marka</th>
      <th>Renk adi</th>
      <th>Model Yılı</th>
      <th>Fiyati</th>
      <th>Araba Detayi</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
      <td>{{car.id}}</td>
      <td>{{car.description}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice}}</td>
      <button type="button" routerLink="/cars/cardetail/{{car.id}}" class="btn btn-primary" >Araba Detayi</button>

  </tr>
</table>
