
 <div class="loader" ></div><br>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">

        <select class="form-select"  aria-label="Default select example" [(ngModel)]="selectedBrandId" >
          <option *ngFor="let brand of brands" value="{{brand.id}}" >{{brand.brandName}}</option>
                </select>
      </div>
      <div class="col-md-3">
        <select class="form-select"  aria-label="Default select example" [(ngModel)]="selectedColorId" >
          <option *ngFor="let color of colors" value="{{color.id}}" >{{color.colorName}}</option>
        </select>
      </div>
      <div class="col-md-1">


        <button
        [routerLink]="changeRouteLink()"
          type="button"
          class="btn btn-primary mybtn"
        >
          Filtrele
        </button>
      </div>
      <div class="col-md-2">
        <button
          routerLink="/"
          type="button"
          class="btn btn-danger"
          style="height: 100%"
        >
          Filtreyi Temizle
        </button>
      </div>
    </div>
  </div>
</div>

<br />
<div class="row mb-3 mt-2" >
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Araç Ara"
    />
  </div>

  <div
    class="card"
    routerLink="/cars/cardetail/{{car.id}}"
    *ngFor="let car of cars | filterPipe: filterText"
  >
  <div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">

  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let imageUrl of car?.images; let i = index"
      [ngClass]="getSliderClass(i)"
    >
      <img
       src= "{{imageUrl}}"
        class="card-img"
        alt="..."
        style="width: 100%; height: 225px"
      />

    </div>

  </div>


  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
    <!-- <div class="card-body">
      <img
        class="card-img"
        [src]="
          car.imagePath.length !== 0
            ? baseUrl + car.imagePath[0]
            : imageDefaultPath
        "
        alt="{{ car.carId }}"
        style="width: 100%; height: 225px"
      />
    </div> -->
    <div class="card-body">
      <h5 class="card-title text-light">
        {{ car.description }}
      </h5>
    </div>
    <div
      class="card-body"
      style="
        background-color: #ffd700;
        border-radius: 15px;
        margin-bottom: 15px;
      "
    >
      <ul class="list-group list-group-flush">
        <li class="list-group-item my-li">
          <b> Marka : {{ car.brandName }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Renk : {{ car.colorName }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Model Yılı : {{ car.modelYear }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Günlük Fiyat : {{ car.dailyPrice }}</b>
        </li>
        <!-- <li class="list-group-item my-li">
          <b> Gereken Findex Puanı : {{ car.minFindex }}</b>
        </li> -->

        <li class="list-group-item my-li">
          <b> KDV'li Günlük Fiyat : {{ car.dailyPrice | vatAdded: 18 }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Model Yılı : {{ car.modelYear }}</b>
        </li>
      </ul>
    </div>
  </div>

</div>









<!-- <div class="container" style="margin-top: 1cm;">
  <div class="row">
      <div class="col">
          <label for="brandFilter" class="form-label">Markalar</label>
<div>
<select class="form-select"  aria-label="Default select example" [(ngModel)]="selectedBrandId" >
  <option *ngFor="let brand of brands" value="{{brand.id}}" >{{brand.brandName}}</option>
</select>
</div>

<div>
  <select class="form-select"  aria-label="Default select example" [(ngModel)]="selectedColorId" >
    <option *ngFor="let color of colors" value="{{color.id}}" >{{color.colorName}}</option>
  </select>
  </div>
  <div class="col">
    <button type="submit"  [routerLink]="changeRouteLink()">Filtrele</button>
    <button type="submit" routerLink="/">Temizle</button>
</div>
</div></div>
</div>
<div class="mb-3">
  <label for="placeholder" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi Giriniz">
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Acıklama</th>
      <th>Marka</th>
      <th>Renk adi</th>
      <th>Model Yılı</th>
      <th>Fiyati</th>
      <th>Araba Detayi</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars |filterPipe:filterText ">
      <td>{{car.id}}</td>
      <td>{{car.description}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice | currency}}</td>
      <button type="button" routerLink="/cars/cardetail/{{car.id}}" class="btn btn-primary" >Araba Detayi</button>

  </tr>
</table> -->
